{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing_Page</title>
    <link rel="stylesheet" href="static 'css/styles.css' ">
</head>
<body>
    <div>
        <!-- the image and logo should be here-->
         <img src="" alt="">
        <p> Refugee Support Program </p>
        <button type="submit"><a href="{% url 'register' %}">Register</a></button>
    </div>
</body>
</html>